html{
    height: 100%;
}
body{
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80" );
    height: 100%;
  }
  h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color:chocolate;
    background-color: rgb(3, 19, 16);
  }
  p{
    color: aliceblue;
  }
  .white{
    color:white;
    background-color: darkslategray;
  }
  .bolder{
    font-weight: bolder;
    color:rgb(0, 0, 255);
  }
  .bold{
    font-weight: bold;
  }
 
  .tablebody{
    color:rgb(218, 165, 32)
  }
  tr:hover{
    background-color: rgb(48, 22, 194);
  }