<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Coaching</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Eiden Empire</a>
        Join me for this once in a lifetime opportunity 
      </nav>


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">How I Started & Scaled My Digital Startups To 'Intensely' Profitable Levels!</h1>
          <p class="lead">Access To The Digital Code (Test Group)</p>


            <div class="row">
                <div><img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" class="card-img-top" alt="...">
                
                <h5>WARNING: Video May Cause Extreme Fear Of Missing Out.</h5>
                </div>
                <div><hr>
                    <h4>
                        Watch the video now and enter your information below to be enrolled in the waitlist. A member of Karan's support staff will contact you shortly.
                    </h4>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Apply for the test group! </button>

                    <hr></div>
            </div>









        </div>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
         
          <p class="lead">When You Join The Digital Code, You Will Get Access To:</p>
        </div>
      </div>




      <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div>
                <h3 class="display-4">20+ Hours Of Step By Step Training</h3>
                <h3>($3,497 Value)</h3>
                <p class="lead">Over the span of 20+ hours, The Digital Code has training that covers EVERY aspect of building a profitable digital business. This is almost a plug & play system with enough case studies to back it up! You name it... positioning, team management, funnels, traffic, sales and more... this training program has everything covered for you!</p>

            </div>
            <div>
                <img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" class="card-img-top" alt="...">

            </div>
        
        </div>
      </div>



      <div class="container">
          <div class="row">

            <div>
                <img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" class="card-img-top" alt="...">
            </div>
            <div>
                <h3 class="display-4">20+ Hours Of Step By Step Training</h3>
                <h3>($3,497 Value)</h3>
                <p class="lead">Over the span of 20+ hours, The Digital Code has training that covers EVERY aspect of building a profitable digital business. This is almost a plug & play system with enough case studies to back it up! You name it... positioning, team management, funnels, traffic, sales and more... this training program has everything covered for you!</p>
            </div>
          </div>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
         
          <p class="lead">Here's What You're Going To Get:</p>
        </div>
      </div>


      <div class="container">
        <ul class="list-group">
            <li class="list-group-item" aria-disabled="true">20+ Hours Of Step By Step Training: ($3,497 Value)</li>
            <li class="list-group-item">PDF Summaries, Funnels & More: ($1,997 Value)</li>
            <li class="list-group-item">Shopify Drop-Shipping Training: ($997 Value)</li>
            <li class="list-group-item">Bonus 1: Our Own Funnel Hacks! ($2,497 Value)</li>
            <li class="list-group-item">Bonus 2: Access To Future Test Groups! ($1,997 Value)</li>
          </ul>
      </div>
<div class="container">
    <h2>Total Value = $10,985</h2>
    <h3>Launch Price = $1,297
    </h3>
    <h3>Test Group Special Price = $287</h3>
    <a href="" class="btn btn-primary btn-lg">Apply for the test group!</a>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
     
      <p class="lead">What Other Students Are Saying?</p>
    </div>
  </div>

  <div class="container">
      <div class="row">
          <div>
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
          <div>
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
      </div>

      <a href="" class="btn btn-primary btn-lg">Apply for the test group</a>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     
      <p class="lead">See More Results & Reviews:</p>
    </div>
  </div>

  <div id="reviews" class="container">
      <img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" alt="">


      <a href="" class="btn btn-primary btn-lg">Apply for the test group</a>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     
      <p class="lead">A Bit About Myself Now;)</p>
    </div>
  </div>

  <div class="container">
      <h1>Hi</h1>
      <h2>I'm Karan Karamchandani</h2>

      <div class="row">
          <div>
              <p>I'm a 17-year-old entrepreneur, digital marketer & the founder of Scalez Media.</p>
          </div>
          <div>
              <img src="" alt="">
          </div>
      </div>
  </div>


  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     
      <p class="lead">Frequently Asked Questions</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">How can I see the curriculum of The Digital Code?</h1>
      <p class="lead">Simple! Although we don't show the exact list of modules and lessons included in The Digital Code, you can check it out by going to the link over here: www.The-Digital-Code.com/curriculum</p>
    </div>
  </div>

  <div>
    <div class="container">
        <h1 class="display-4">How long would I get access to the program for?</h1>
        <p class="lead">This is an online video training program, it's completely self-paced and you can watch the videos anytime! Once you've enrolled into the program, you will have lifetime access to the membership pages with your own login credentials - this allows you to go through the program's content over and over again throughout a timeline of years.</p>
      </div>
  </div>

  <div class="container">
    <a href="" class="btn btn-primary btn-lg">Apply for the test Group!</a>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>