<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Message</title>
    <link rel="stylesheet" href="/spreadsheets/teamHome.css">
 
  </head>
  <body>
    
    


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Message</a>
      
        <ul>
          <a href="/postHome/<%=member._id%>" class="nav-item btn btn-primary">My Posts</a>
        </ul>
      </nav>

    <nav class="navbar navbar-dark bg-dark">
        
            <form class="form-inline">
                    <input class="form-control mr-sm-2 col-12" type="search" placeholder="Search by email" aria-label="Search" id="searchStudent">
                   
                  </form>
          </nav>

          <div class="container-fluid">
          <div class="row">
          <div class="table col-6">
          
            <ul class="list-group">
              
             

               <% for(i=persons.length-1;i>=0;i--){%>
                   <a href="/teamHome/<%= member._id%>/<%=persons[i]._id%>">
                       
                        <li class="list-group-item"> <%= persons[i].email%></li>
                       
                      
                    </a> 
           <% }%>
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr> -->
            </ul>
          </div>


          <div class="col-6" style="overflow-y: scroll; position: relative; background-color: brown; height: 90vh;">

          </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>